:root {
    --primary-color: #000001;
    --secondary-color: #9DC3C2;
    --accent1-color: #D0EFB1;
    --accent2-color: #4D7298;

    --heading-font: 'Kaushan Script', serif;
    --paragraph-font: 'Sedan SC', serif;

    --nav-background-color: #B3D89C;
    --nav-link-color: #4D7298;
    --nav-hover-link-color: #000000;
    --nav-hover-background-color: #F8F8FF;
}

* {
    max-width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    margin: 0 auto;
    max-width: 900px;
    padding: 1rem;
}

.navigation {
    display: flex;
    align-items: center;
    justify-self: end;
    gap: 30px;
}

nav a {
    margin-right: 30px;
    text-decoration: none;
    font-size: 1.5rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
    transition: color 0.3s, background-color 0.3s;
}

body {
    padding: 4rem;
    margin: auto;
}

h1 {
    text-align: center;
    font-family: var(--heading-font)
}

p {
    text-align: center;
    padding: 5px;
    font-family: var(--paragraph-font);
    font-size: 1.2rem;
}

.forms {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1rem;
}

.form1 h2 {
    text-align: left;
    font-family: var(--heading-font)
}
.form1 p {
    text-align: left;
    font-family: var(--paragraph-font);
    font-size: 1rem;
    font-style: italic;
}
.form1 {
    display: grid;
    width: 740px;
    margin: 0 auto;
    padding: 1rem;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 1rem;
    background-color: #aee59390;
}

.form2 {
    width: 400px;
    margin: 0 auto;
    padding: .5em;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 1rem;
    background-color: #aee59390;
}

.form2 h2 {
    margin-top: 40px;
    text-align: center;
    font-family: var(--heading-font)
}

.form2 p {
    text-align: center;
    margin: 25px;
}

fieldset {
    display: grid;
    grid-gap: 1rem;
    margin: 1rem;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1rem;
}

label {
    font-family: 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

button {
    font-family:'Franklin Gothic Medium', Arial, sans-serif;
    font-size: 1.2rem;
    margin: 0 auto;
    margin-top: 20px;
    color: rgb(0, 0, 0);
    padding: 15px;
    background-color: #ffffff;
    border-radius: 1rem;
}

button:hover {
    background-color: black;
    color: white;
    transition: color 0.3s, background-color 0.3s;
}

input, select, textarea {
    background-color:rgb(248, 254, 255);
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    width: 500px;
}

input[type="radio"] {
    width: 0 auto;
}

input[type="checkbox"] {
    width: auto;
    margin-left: 15px;
}

.footerform {
    display: column;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    margin-bottom: 12px;
}

.checkbox-label {
    display: flex;
    font-family: 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    margin-top: 10px;
}

.sociallinks {
    display: flex;
    justify-content: center;
}

.sociallinks img {
    width: 20px;
    height: auto;
    margin-right: 3px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    margin-top: 75px;
    margin-bottom: 50px;

}

