@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Sedan+SC&display=swap');

:root {
    --primary-color: #000001;
    --secondary-color: #9DC3C2;
    --accent1-color: #D0EFB1;
    --accent2-color: #4D7298;

    --heading-font: 'Kaushan Script', serif;
    --paragraph-font: 'Sedan SC', serif;

    --nav-background-color: #B3D89C;
    --nav-link-color: #4D7298;
    --nav-hover-link-color: #000000;
    --nav-hover-background-color: #F8F8FF;
}

* {
    max-width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    margin: 0;
    padding: 25px;
    justify-content: left;
}

.navigation {
    padding: 100px;
}

body {
    padding: 70px;
    margin: auto;
}

h2 {
    padding: 25px;
    margin: 25px;
    font-family: var(--heading-font);
    font-size: 2em;
    color: var(--primary-color);
    background-color:#5CA5F0
}

p {
    padding: 25px;
    font-family: var(--paragraph-font);
    font-size: 1.5em;
}

.hero {
    margin: 0px auto;
    position: relative;
    padding: 0;
    width: 100%;
}

.hero img {
    position: relative;
    border: 1px solid black;
    left: 0;
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 100px;
    width: 100%;
    font-family: var(--heading-font);
    font-size: 2em;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 40px;
    opacity: .65;
}
.hero article {
    display: flex;
    position: absolute;
    top: 545px;
    right: 50px;
    left: 70px;
    width: 1000px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 25px;
    text-align: center;
}
.hero article img {
    float: right;
}

.history h2 {
    text-align: center;
}

.history p {
    width: 100%;
    text-align: center;
}
.adventure {
    text-align: center;
}

.adventure h2 {
    margin-bottom: 20px;
}

.adventure img {
    width: 275px;
    height: auto;
    margin: 10px;
    border: 1px solid black;

}

nav a {
    display: inline-block;
    margin-right: 25px;
    text-decoration: none;
    font-size: 1.2rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.sociallinks {
    display: flex;
    justify-content: center;
}

.sociallinks img {
    width: 20px;
    height: auto;
    margin-right: 3px;
}

footer {
    font-size: 1em;
    text-align: center;
}