@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 12px;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
}
header {
    margin: 0.2rem 180px auto;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-size: 2.2rem;
}

main {
    font-family:'Lucida Sans', sans-serif;
    font-size: 1rem;
}

form {
    width: 800px;
    margin: 0 auto;
    padding: 1rem;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 1rem;
    background-color: rgb(206, 237, 253);
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border-radius: 1rem;
    border: 1.5px dotted black;
    padding: 1rem;
}

legend {
    padding: .5rem;
    color:rgb(13, 77, 180);
    font-weight: bold;
    font-size: 1.2rem;
    text-align: left;
}

label {
    font-family: 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

button {
    font-family: fantasy;
    font-size: 1.2rem;
    margin: 0 auto;
    color: rgb(13, 77, 180);
    padding: 15px;
    background-color: rgb(246, 253, 255);
    border-radius: 1rem;
}

button:hover {
    background-color: white;
    color: black;
    transition: color 0.3s, background-color 0.3s;
}

input, select, textarea {
    background-color:rgb(241, 252, 255);
    font-family: 'Cormorant Garamond';
    font-size: 1.2rem;
    font-weight: bold;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}
footer {
    display: flex;
    justify-content: center;
    font-size: 1em;
    border-top: 1px solid black;
    margin: 1rem 180px auto;
}